body{
font-family: 'Roboto', sans-serif; 
}
.page > *{
        flex: 1 100%;
        
}
.page.one, .page.two, .page.three, .page.four, .page.five, .page.six, .page.seven{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  1fr 1fr auto;
}
.wrapper{
    max-width: 1500px;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.box{
    transition: all .2s ease-in-out;
    flex-basis: 25%;
    background-color: rgb(235, 235, 235);
    border-radius: 2em;
    height: 250px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 30px 1px rgba(209,209,209,0.43);
}
.box:hover{
    transform: scale(1.02);
}
.miniBox{
    transition: all .2s ease-in-out;
    flex-basis: 20%;
    background-color: rgb(235, 235, 235);
    border-radius: 2em;
    height: 150px;
    margin-bottom: 20px;
    font-size: 20px;
    box-shadow: 1px 1px 30px 1px rgba(209,209,209,0.43);
}
.miniBox:hover{
    transform: scale(1.02);
}
.arrow{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
}
.read{
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    font-size: 10px;
}
.code{
    font-size: 14px;
}
.chosen{
    background-color: rgba(252, 220, 117, 0.884);
    border-radius: 2em;
    box-shadow: 1px 1px 30px 1px rgba(226, 198, 105, 0.623);
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.tag{
    font-size: 10px;
}
.navbar{
    border-color: rgb(235, 235, 235);
    border-width: 0.5em;
    border-radius: 2em;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.navbar img{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20em;
    box-shadow: 1px 1px 30px 1px rgba(209,209,209,0.43);
}
.navbar p{
    position: relative;
    left: 22px;
    font-size: 20px;
    margin-bottom: 20px;
}
img{
    transition: all .2s ease-in-out;
}
img:hover{
    transform: scale(1.08);
}
button{
    border-color: rgb(235, 235, 235);
    border-width: 0.1em;
    border-radius: 2em;
    margin:5px;
    height: 25px;
    width: 125px;
}
.selected{
    transform: scale(1.1);
    padding: 2px;
}
.adjective{
 margin-top:7px;
}
.adjPartOne{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-self: center;
}
.adjPartTwo{
    padding-top: 40px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    justify-self: center;
}
.uiExample{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}
.uiExample img{
    padding: 5px;
}
.uiExample img:hover{
    transform: scale(1.5);
}
.page.nine{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 850px;
    gap: 5px;
}
